doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/highlight.css')
    script(src='/js/vendor/jquery.js')
  body
    div.container 
      header
        img(src='img/logo.png')
      block content


  script(src='/js/app.js')
  script(src='/js/bootstrap.js')
